@charset "utf-8";
/* CSS Document */
html {
	height: 100vh;
}
body {
	margin: 0;
	font-family: "Lucida Sans Typewriter","monospace";
	min-height:100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	align-items: stretch;
}
h2 {
	color: #1F618D;
}
#menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0; 
    background-color: #85C1E9; 
	font-weight: bold;
	font-size: 2em;
}
#menu img {
	max-height: 80px;
}
#menu a{
	display: block;
	min-width:250px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px 5px white;
}
#menu a:hover {
	text-shadow: 1px 1px 5px #AEAEAE;
}
#menu ul {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}
#menu li {
	list-style-type: none ;
}
#main	{
	flex-grow: 1;
}
.zone {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.capt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2%;
}
.capt h2, p {
	padding-bottom: 6%;
	padding-top: 6%;
	text-align: center;
}
.capt p {
	font-weight: bold;
	font-size: 2em;
}
.capt tr{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.capt td{
	padding-right: 0.5em;
	padding-left: 0.5em;
}
#hygro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2%;
}
#hygro h2, p {
	padding-bottom: 6%;
	padding-top: 6%;
	text-align: center;
}
#hygro p {
	font-weight: bold;
	font-size: 2em;
}
#donnees	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
}
#refresh	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2%;
}
#refresh h2 , input {
	padding-bottom: 6%;
	padding-top: 6%;
	text-align: center;
}
#refresh input {
	border-color: blue;
	background-color: gray;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
#refresh input:hover {
	border-color: gray;
	background-color: blue;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
#reset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2%;
}
#reset h2 {
	color: red;
}
#reset h2 , input {
	padding-bottom: 6%;
	padding-top: 6%;
	text-align: center;
}
#reset input {
	border-color: red;
	background-color: gray;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
#reset input:hover {
	border-color: gray;
	background-color: red;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
input {
	width: 100%;
}
footer {
	padding: 0;
	margin: 0;
	font-size: 0.7em;
	width:100%;
}
footer a {
	color: #001DFF;
	text-decoration: none;
}

#chargement {
  color:grey;
  font-family:Lucida Sans Typewriter;
  height:5vh;
  left:50%;
  overflow-x:hidden;
  padding-top:7vh;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%,-50%);
  width:50vw;
  &:before {
    animation:left-to-right 3s alternate infinite linear;
    background-image:linear-gradient(to right, transparent, #85C1E9, transparent);
    // bottom:0;
    content:"";
    height:5vh;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
  }
  &:after {
    background-image:repeating-linear-gradient(
      90deg,
      white,
      white 1vw,
      transparent 1vw,
      transparent 10vw
    );
    content:"";
    height:5vh;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
  }
}

@keyframes left-to-right {
  0% {
    transform:translateX(-100%);
  }
  100% {
    transform:translateX(100%);
  }
}