@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	font-family: "Lucida Sans Typewriter","monospace";
}
h2 {
	color: #1F618D;
}
#menu {
	display: flex;
	justify-content: space-around;
    padding:0;                  
    background-color: #85C1E9; 
	font-weight: bold;
	font-size: 2em;
}
#menu a{
	display: block;
	min-width:250px;
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 1px 1px 5px white;
}
#menu a:hover {
	text-shadow: 1px 1px 5px #AEAEAE;
}
#menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#menu li {
	list-style-type: none ;
}
.zone {
	padding: 1em;
	display: flex;
	justify-content: space-around;
}
.capt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}
.capt h2, p {
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}
.capt p {
	font-weight: bold;
	font-size: 2em;
}
.capt tr{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.capt td{
	padding-right: 0.5em;
	padding-left: 0.5em;
}
#hygro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}
#hygro h2, p {
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}
#hygro p {
	font-weight: bold;
	font-size: 2em;
}
#donnees	{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}
#refresh	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}
#refresh h2 , input {
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}
#refresh input {
	border-color: blue;
	background-color: gray;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
#refresh input:hover {
	border-color: gray;
	background-color: blue;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
#reset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}
#reset h2 {
	color: red;
}
#reset h2 , input {
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}
#reset input {
	border-color: red;
	background-color: gray;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
#reset input:hover {
	border-color: gray;
	background-color: red;
	color: white;
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
}
input {
	width: 100%;
}
footer {
	font-size: 0.7em;
}
footer a {
	color: #001DFF;
	text-decoration: none;
}