@charset "utf-8";
/* CSS Document */
.zone {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}
#menu	{
	display: none;
}
tr 	{
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}
